


.MyHeader{background-color: bisque; text-align: center; padding: 23px;
    margin-top: -9px; color: gray; font-size: 53px; position:fixed;}
    
    .hero{margin-top: -22px;}
    
    .FontFam1{font-family: 'Inter';}
    
    .Fontfam2{font-family: 'Mulish', sans-serif;}
        
        .middle{background-color: rgb(208, 154, 39); width: 100%;
        text-align: center;}
        .cities{background-color: rgb(139, 225, 135); color: gray;
        margin: 20px; display:inline-block; margin-top: 25px; padding: 15px;}
        
        .largeFont{font-size: 22px; font-family: 'Inter'; color: rgb(80, 76, 76);}
        
        .Earth{color: blueviolet;}
        
        
        .Mega{font-size: 60px; text-decoration: none;}
        
        .Alpha{color: darkolivegreen; font-size: 30px; margin: 25px;}
        
        .Round{border-radius: 15px;}
        
        .bottom{background-color: rgb(124, 169, 224);  padding: 15px; margin-top: 25px;
        display: block; position: relative; }
        .Title{display: inline-block; margin-top: 10px; margin-left: 4px;}
    
    
    
        /* ----------------------- */
    
    
    
    
        /* INLINE BLOCK EXAMPLE */
    
        .info{text-align: center; }
        .cards{display: inline-block; text-align: center; margin-right: 25px; border-radius: 12px;}
    
        .Vcard{background-color: rgb(226, 195, 19); padding: 25px; margin-bottom: 9px;
        margin-top: 45px; width: 300px;}
    
        .pics{float:left; margin-top: 28px;}
    
        #Main{width: 300px; height: 300px; background-color: bisque; margin-top: 100px;
        position:relative;}
    
        #Abs{width: 100px; height: 100px; background-color: aqua; top: 100px;
        left: 100px;border-radius: 50%; position:fixed;}
    
        button{display: block; margin-top: 55px; color: black;} */
    
    p{color: blueviolet; border: 2px solid red;}
    
        span{color: rgb(96, 45, 225); border: 4px solid black; padding: 25px;}
    
     /* ----------------------- */   
    
    /* SPAN AS INLINE block */
    
    
    
    
    
    /* POSITION ABSOLUTE and RELATIVE */
    /* div#main{width: 300px; height: 300px; background-color: pink; 
        position: absolute; left: 500px; top: 100px;}
    
    div#main div{width: 100px; height: 100px; background-color: aqua; position:absolute;
    top: 40px; left: 35%; border-radius: 50%;} */
    
    
    /* position:absolute: This is a position related to the body. 
    top: 800px; left: 100px;
    
    IF I DON'T SPECIFY THE POSITION RELATIVE THE BODY WILL BE THE CONTAINER*/
    
    /* CHANGE THE COORDINATES */
    
    /*1. top: -10px; or -20px left: 50%; or 40% to place absolute  
    kind of the top middle of square.
    2. Add border-radius: 50% 
    3. Then make it width:100px and height: 100px  with left: 30%
    4. Top: -40% */
    